/* Universial reset */
*,
*::after,
*::before {
  /* universialselector */
  margin: 0;
  padding-right: 0;
  box-sizing: inheritt;
}
html {
  font-size: 62.5%; /*This defines what 1 rem should be */
}
body {
  box-sizing: border-box;
  background-color: #dfdcd4; /*changes box model so border and padding are not added */
}
